.main {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "img1 img1"
 "encabezado encabezado"
 "img2 img2"
 "referencia referencia"
 "img3 img3"
 "referencia1 referencia1"
 "formulario formulario"
 "contacto contacto"
 "footer footer";
}

.main .main_div {
  width: 100%;
}

.main .main_img1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200%;
  grid-row: 1;
  grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img1;
}

.main .main_titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-row: 2;
  grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: encabezado;
}

.main .main_titulo h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  text-align: Regular 400 italic;
}

.main .div_img2 {
  grid-row: 3;
  grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main .div_curva {
  width: 50%;
}

.main .div_referencia {
  grid-row: 4;
  grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: referencia;
  margin: 15px;
  text-align: start;
}

.main .div_titulo1 {
  width: 100%;
  font-size: 50px;
}

.main .div_titulo2 {
  font-size: 40px;
}

.main .div_img3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-row: 5;
  grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img3;
}

.main .div_referencia1 {
  grid-row: 6;
  grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: referencia1;
  margin: 15px;
  text-align: start;
}

@media screen and (max-width: 425px) {
  .main .div_titulo1 {
    font-size: 30px;
  }
  .main .div_titulo2 {
    font-size: 25px;
  }
  .main .main_titulo h1 {
    font-size: 35px;
  }
  .main .main_titulo {
    background-color: #4fa8fb;
  }
}


.for_complet{
  grid-row: 7;
  grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: formulario;
  width: 100%;
 margin-bottom: 20px;
}
/*# sourceMappingURL=contacts.css.map */
.formulario{
  width: 100%;
  max-width: 100%;
  margin-top: 30px;
     
  box-shadow: 0 0 20px 1px rgba(0, 0,0, 0.3);
  position: relative;
  
}
.formulario__titulo{
  text-align: center;
  margin-top: 0;
  color:  #368BDB ;
  font-size: 60PX;
}
.formulario__input, .formulario__label,
.formulario__input{
  display: block;
  width: 100%;
  font-size: 1.3em;
}
.formulario__input{
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
  background: transparent;
}
.formulario__input:focus{
  outline: 1px solid rgba(0, 0, 0, 1);
}
.formulario__input:focus + .formulario__label{
  margin-top: -130px;
}
.formulario__label{
  padding-left: 15px;
  position: absolute;
  margin-top: -85px;
  z-index: -20;
  color: rgba(0, 0, 0, 0.5);
}
.formulario__submit{
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border:none;
}
.fijar{
  margin-top: 135px;
}
