* {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
}

.header {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  border-bottom: #01579b solid 5px;
}
.header_img {
  padding: 10px 0 0 20px;
  width: 40%;
}
.header_conted {
  width: 100%;
  align-content: centerS;
}
.header_img1 {
  width: 15%;
  margin-bottom: 40px;
}
.header_ul {
  display: flex;
}

.header_ul li {
  padding: 15px 15px;
  text-decoration: none;
  animation-duration: 2s;
  animation-name: aparecer;
  font-size: 30px;
}
@keyframes aparecer {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
footer {
  padding: 50px;
  background-color: #01579b;
}

.header_nav {
  display: block;
}

.nav_desplegable {
  background-color: white;
  position: absolute;
  top: 80px;
  width: 100%;
}

.header_nav_mobile {
  padding: 5px 0 5px 0;
}

.header_ul_mobile li {
  border-top: solid 1px black;
  padding: 10px 6px 10px 6px;
}
.div_button{
  margin: 20px;
}
.icono{
  width: 35px;
}
.p{
  margin: 0 0 10px 90px;
}

@media screen and (max-width: 1023px) {
  .header_nav {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .div_button {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .div_button {
    width: 20px;
    margin: 20px;
  }
}
@media screen and (max-width: 426px) {
  .header_img1 {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 426px) {
  .center {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 20px;
  }
}
@media screen and (max-width: 426px) {
  .footer {
    
    background-color: #2897FF;
  }
}
@media screen and (max-width: 426px) {
  
  .header_ul_mobile a {
    font-size: 15px;
    font-family: "Constantia", serif
  }
}



