* {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
}

.header {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  
  padding-right: 20px;      
  
}
.header_img {
  padding: 10px 0 0 20px;
  width: 40%;
}
.header_conted {
  width: 100%;
  align-content: center;
}

.header_ul {
  display: flex;
}

.header_ul li {
  padding: 15px 10px 0px 10px;
  margin-right: 12px;
  text-decoration: none;
  animation-duration: 2s;
  animation-name: aparecer;
  
}
.header_ul a{
font-size: 32px;
font-weight: 600;
color: #2A6FDA;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@keyframes aparecer {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

footer {
  width: 100%;
 display: grid;
 grid-template-areas:"img img"
 "utmw utmw"
 "atención atención"
 "tc tc";
 padding: 10px;
 color:white;
background-color: #0A5092

;

}
.F_H_img1{
  grid-area: img;
  display: flex;
  justify-content: center;
}
.header_img1 {
  width: 200px;
  margin-bottom: 40px;
}
.imgs_utmw{
  grid-area: utmw;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.imgs_utmw label{
display: flex;
justify-content: center;
}
.imgs_utmw div{
  margin-right: 30px;
  display: flex;
  align-items: center;
  font-size: 10px;
}
.imgs_utmw img{
width: 90px;
height: 90px;
margin-right: 10px;
}
.img_cc{
  width: 300px;
  height: 200px;
}
.atención{
  grid-area:atención;
  display:flex;
  justify-content: space-between;
  font-family: Century;
    font-weight: 500;
}
.atención_lsd{
  margin-right: 200px;
  font-size: 19px;
}
.atención_lsd div p{
  margin-bottom: 10px;
  font-size: 20px;
}
.rs div p{
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top: 15px;
}
.rs img{
  margin-left: 2px;
}
.header_nav {
  display: block;
}

.nav_desplegable {
  background-color: white;
  position: absolute;
  top: 80px;
  width: 100%;
  z-index: 99;
}

.header_nav_mobile {
  padding: 5px 0 5px 0;
}

.header_ul_mobile li {
  border-top: solid 1px black;
  padding: 15px 6px 15px 6px;
  border-top: solid 1px #b0b8db;
  display: flex;
  justify-content: center;
  font-weight: BOLD;
  
  FONT-SIZE: 30px;
}

.div_button{
  margin: 20px;
}
.icono{
  width: 35px;
}
.p{
  margin: 0 0 10px 90px;
}
.tc{
  grid-area: tc;
  display: flex;
  justify-content: center;
  margin-top:20px ;
}

@media screen and (max-width: 1023px) {
  .header_nav {
    display: none;
  }
  .header_img {
    padding: 10px 0 0 20px;
    width: 40%;
  }
}
@media screen and (min-width: 769px) {
  .div_button {
    display: none;
  }
}
@media screen and (max-width: 426px) {
  .div_button {
    width: 20px;
    margin: 20px;
  }
}
@media screen and (max-width: 426px) {
  .header_img1 {
    width: 40%;
    margin-bottom: 30px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 426px) {
  .center {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 20px;
  }
}
@media screen and (max-width: 426px) {
  .footer {
    padding: 0px;
  }
}
@media screen and (max-width: 426px) {
  
  .header_ul_mobile a {
    font-size: 25px;
    font-family: sans-serif;
  }
}
@media screen and (max-width: 426px) {
  .imgs_utmw {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: black solid 5px;
  }
  .imgs_utmw div{
    margin-right: 0px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 20px;
  }
  .atención{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20PX;
  }
  .atención_lsd{
    margin-right: 0px;
  }
  .atención_lsd div{
    margin-bottom: 15px;
  }
  .imgs_utmw img{
    width: 65px;
    height: 65px;
    }
}
@media screen and (min-width: 767px) {
  .imgs_utmw img{
    width: 100%; 
    height: 100%;
    margin-right:none;
  }
  .imgs_utmw label{
    margin-left: 0px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1023px) {
  .imgs_utmw img{
    width: 90px;
    height: 90px;
    margin-right: 10px; 
  }
  .imgs_utmw label{
    margin-left: 0px;
    font-size: 24px;
    font-family: Century;
    font-weight: 500;
  }
}







