* {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
}

.header {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  border-bottom: #01579b solid 5px;
}
.header_img {
  padding: 10px 0 0 10px;
  width: 120px;
}
.header_conted {
  width: 100%;
  align-content: centerS;
}
.header_img1 {
  padding: 10px 0 0 10px;
  width: 120px;
}
.header_ul {
  display: flex;
}

.header_ul li {
  padding: 15px 15px;
  text-decoration: none;
}
footer {
  background-color: rgb(rgb(192, 192, 192), rgb(231, 231, 231), rgb(236, 236, 236));
  padding: 20px;
  margin: 30PX 0 25PX 0;
}

.header_nav {
  display: block;
}

.nav_desplegable {
  background-color: white;
  position: absolute;
  top: 80px;
  width: 100%;
}

.header_nav_mobile {
  padding: 5px 0 5px 0;
}

.header_ul_mobile li {
  border-top: solid 1px black;
  padding: 10px 6px 10px 6px;
}
.div_button{
  margin: 20px;
}
.icono{
  width: 35px;
}
.p{
  margin: 0 0 10px 90px;
}

@media screen and (max-width: 1023px) {
  .header_nav {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .div_button {
    display: none;
    
  }
}
@media screen and (max-width: 400px) {
  .div_button {
    width: 20px;
    margin: 20px;
  }
}


