
.main {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 
  "img img" 
 "img1 text1"
 "text2 img3"
 "sede sede"
 "img2 img2";
  line-height: 1;
  grid-column: none;
  /*media*/
  /*tablet*/
}

.main_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.main_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0;
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  padding: 100px 150px 150PX 150PX;
  overflow: hidden;
  transition: all 500ms ease;
}

.main_img1 {
  border-top: cornflowerblue 10px solid;  
  width: 100%;
  height: 1080px;
  grid-row: 1;
  grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img;
}
.main_div p{
  width: 100%;
  position: absolute;
 padding-left: 100px;
 padding-right: 100px;
 padding-top: 300PX;
 FONT-SIZE: 70px;
 color: aliceblue;
 FONT-FAMILY: fantasy
}
.main_div h5{
  width: 100%;
  position: absolute;
 padding-left: 84px;
 padding-right: 100px;
 padding-top: 530PX;
 FONT-SIZE: 70px;
 color: aliceblue;
 FONT-FAMILY: fantasy;
}
.main_div h5 a{
  text-decoration: none;
  color: rgb(10, 10, 10);
  background-color: rgb(250, 248, 248);
  font-size: 45PX;
  margin: 20px;
  padding: 10px;
  font-family: cursive;
} 
.main_text {
  font-size: xxx-large;
  text-align: center;
  font-weight: bold;
  

  grid-row: 2;

  grid-column: 2;

  grid-area: text1;
}

.main .div_container_img2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-row: 3;
  grid-row: 3/3;
}



.main_img {
  width: 820px;
  height: 500px;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img1;
  border-radius: 40px;
  box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.50);
  transition: all 800ms ease;
}
.main_img:hover{
  transform: scale(1.1);
}



.main_text {
  width: 900px;
}

.main_section1 {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0;
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  padding: 50px 150px 90PX 150PX;
  overflow: hidden;
  transition: all 500ms ease;
}

.main_text1 {
  font-size: xxx-large;
  text-align: center;
  font-weight: bold;
  text-align: Regular 400 italic;
  width: 800px;
  grid-row: 1;
  -ms-grid-row: 4;
  grid-column: 1;
  grid-area: text2;
}
.main_section3{
  grid-area: img2;
  display: flex;
  justify-content: center;
  width: 100%;
}
.main_img4{
width: 865px;
height: 550px;
padding: 70px 50PX 80PX 80PX;
box-shadow: 1px 10px 10px rgba(0, 0, 0, 0);
transition: all 800ms ease;
}
.main_img4:hover{
  transform: scale(1.1);
}
.sede{
  display: flex;
  justify-content: space-around;
  grid-area: sede;
}
.sede p{
  color:black;
  font-weight: 500;
  font-size: 40PX;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main_img3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 820px;
  height: 500px;
  grid-row: 4;
  grid-column: 2;
  grid-area: img3;
  border-radius: 40PX;
  box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.50);
  transition: all 800ms ease;
}
.main_img3:hover{
  transform: scale(1.1);
}

:root {
  --bg: #1a1e24;
  --color: #eee;
  --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

.wrapper {
  padding: 4.5rem 0;
  filter: url('#goo');
}

.button {
  display: inline-block;
  text-align: center;
  background: var(--color);
  color: var(--bg);
  font-weight: bold;
  padding: 2.18em 2.32em 2.03em;
  line-height: 1;
  border-radius: 1em;
  position: relative;
  min-width: 9.23em;
  text-decoration: none;
  font-family: var(--font);
  font-size: 1.25rem;
}

.button:before,
.button:after {
  width: 4.4em;
  height: 2.95em;
  position: absolute;
  content: "";
  display: inline-block;
  background: var(--color);
  border-radius: 50%;
  transition: transform 1s ease;
  transform: scale(0);
  z-index: -1;
}

.button:before {
  top: -25%;
  left: 20%;
}

.button:after {
  bottom: -25%;
  right: 20%;
}

.button:hover:before,
.button:hover:after {
  transform: none;
}



@media screen and (max-width: 425px) {
  .main_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
            padding: 25px;
  }
}

@media screen and (max-width: 426px) {
  .main_img {
    width: 100%;
  }
  .main_img:hover{
    transform: none;
  }
}

@media screen and (max-width: 426px) {
  .main_text {
    width: 100%;
    margin: 15px 0 15px 0;
    font-size: 30px;
    padding-top: 15px;
  }

}
@media screen and (max-width: 426px) {
  .main_img2 {
    width: 100%;
    padding: 0px 25px 0px 25px;
  }
  .main_img1 {
    width: 100%;
    height: 350px;
  }
  .main_div p{
      padding-top: 59px;
      padding-left: 17px;
      margin-right: 200px;
      font-size: 25px;
  }
  .main_div h5{
    padding-top: 160px;
    padding-left: 17PX;
    font-size: 25px;
    
  }
  .main h5 a{
    font-size: 17PX;
    
  }
  .wrapper {
    padding: 1px;
      filter: url(#goo);
  }
}


@media screen and (max-width: 425px) {
  .main_img3 {
    width: 100%;
    height: 230px;
  }
  .main_img3:hover{
    transform: none;
  }
  .main_img {
    width: 100%;
    height: 230px;
  }
  .main_img:hover{
    transform: none;
  }
}

@media screen and (max-width: 425px) {
  .main_text1 {
    width: 100%;
    margin: 15px 0 15px 0;
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .main_text {
    width: 100%;
    font-size: 30px;

  }
}

@media screen and (max-width: 768px) {
  .main_text1 {
    width: 100%;
    font-size: 30px;
    padding: 20px 0px 0px 15px;
  }
}

@media screen and (max-width: 426px) {
  .main_section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column-reverse;
    padding:10PX 25PX 15PX 25PX;
  }
  .main_section {
    padding:40PX 25PX 5PX 25PX;
  }
}
/*# sourceMappingURL=indice.css.map */
.titulo--azul{
  color:green
}
