.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
      grid-template-areas: 
 "text1 text1"
 "elemento1 elemento1"
 "elemento2 elemento2"
 "elemento3 elemento3";

}

.main_contenedor {
  width: 100%;
}



.main .main_h1 {
  width: 100%;
  font-size: 4rem;
  text-align: center;
  color:black;
  padding-bottom: 5px;
  padding-top:5px; 
 font-weight: bold;
  font-family: monospace;
}

.main .main_div {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: text1;
  background-color: #17a2b8;
  
}
.div_contenedor {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: elemento1;
  padding: 50px 160px;
  
}


.main .main_div1 {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .div_contenedor2 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: elemento2;
  padding: 50px 160px;
}

.main .main_div2 {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}

.main .main_text {
  width: 50%;
  font-size: 60px;
  text-align: center;
  color:  gray;
 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.main .main_img {
  width: 50%;
  border-radius: 40px;
  box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.50);
  padding: 3px;
}



.main .main_img1 {
  width: 50%;
  border-radius: 40px;
  box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.50);
  padding: 3px;
  
}


.main .main_text1 {
  width: 50%;
  font-size: 60px;
  text-align: center;
  color:  gray;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.div_contenedor3 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: elemento3;
  width: 100%;
  padding: 60px 160px;
}


.main_img3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  border-radius: 40px;
  box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.50);
  padding: 3px;
}


.main .main_text3 {
  width: 50%;
  font-size: 60px;
  text-align: center;
  color:  gray;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media screen and (max-width: 426px) {
  .main{
    padding: 0px;
    margin: 0px;
  }
}



@media screen and (max-width: 426px) {
  .main .main_img,
  .main .main_img1, 
  .main .main_img3 {
    width: 100%;
    padding: 6px;
    background-color: #78B1E7;
  }
}
@media screen and (max-width: 426px) {
  .div_contenedor {
    padding: 0px;
  }
  .main .main_text{
    width: 100%;
    font-size: 50px;
    padding: 25px 0px 55px 0px;
  }
  .main .div_contenedor2 {
    padding: 0px;
  }
  .main .main_text1 {
    width: 100%;
    font-size: 50px;
    padding: 25px 0px 55px 0px;
  }
  .main .div_contenedor3 {
    padding: 0px;
  }
  .main .main_text3{
    width: 100%;
    font-size: 50px;
    padding: 25px 0px 55px 0px;
  }
  .main .main_h1{
    font-size: 3em;
  }

}

@media screen and (min-width: 426px) {
  .main .main_div2,
  .main .main_div1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 426px) {
  .main .div_costado {
    font-size: 25px;
  }
}

@media screen and (min-width: 426px) {
  .main .main_div2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.titulo--azul {
  color: "azul" !important;
}

.titulo--azul2 {
  color: "azul2" !important;
}

.titulo--azul3 {
  color: "azul3" !important;
}



/*# sourceMappingURL=services.css.map */