.main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "img img"
    "text1 text1"
    "elemento1 elemento1"
    "elemento2 elemento2"
    "elemento3 elemento3";
}
.main_contenedor {
  width: 100%;
}
.contenedor_img {
  display: flex;
  width: 100%;
  grid-area: img;
}
.main_h1 {
  width: 100%;
  font-size: 40px;
  text-align: center;
}
.main_div {
  grid-area: text1;
}
.div_contenedor {
  grid-area: elemento1;
}
.main_div1 {
  width: 100%;
  align-items: center;
}
.div_contenedor2 {
  grid-area: elemento2;
}
.main_div2 {
  width: 100%;
  align-items: center;
}
.main_text {
  width: 40%;
  font-size: 40px;
  text-align: center;
}
.main_img {
  width: 60%;
}
.main_img1 {
  width: 60%;
}
.main_text1 {
  width: 40%;
  font-size: 40px;
  text-align: center;
}
.div_contenedor3 {
  grid-area: elemento3;
}

.div_img3 {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 426px) {
  .main_text,
  .main_text1 {
    width: 100%;
    font-size: 25px;
  }
}

@media screen and (max-width: 426px) {
  .main_img,
  .main_img1 {
    width: 100%;
  }
}
@media screen and (min-width: 426px) {
  .main_div2,
  .main_div1 {
    display: flex;
  }
}
@media screen and (max-width: 426px) {
  .div_costado {
    font-size: 25px;
  }
}
@media screen and (min-width: 426px) {
  .main_div2 {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }
}
